body {
    .cus-popup {
        width: 90%;
        max-height: 90%;
        overflow: hidden;
        background-color: transparent;
        display: flex;
        flex-direction: column;

        .pop-box {
            flex: 1;
            border-radius: 6px;
            background-color: #600998;
            overflow-y: auto;
        }

        .van-cell {
            background-color: #600998;
            color: #ffffff;
        }
        .van-cell::after {
            border-bottom: 1px solid #999999;
        }
    }
    .pup-2 {
        width: 90%;
        max-height: 90%;

    }
    .cus-popup-bottom {
        background-color: #000000;
    }
    .van-button.br8 {
        border-radius: 8px;
    }
    .van-button.br10 {
        border-radius: 10px;
    }
    .van-button.br6 {
        border-radius: 6px;
    }

    .van-button--disabled.disabled {
        //background-color: #939393;
        //border-color: #939393;
    }
    .van-button--plain {
        //background-color: #212121;
    }

    .van-dialog {
        //background-color: #383838;
    }
    .van-dialog__header {
        font-size: 18px;
    }
    .van-dialog__message--has-title {
        //color: #ffffff;
        padding-top: 20px;
    }
    .van-dialog__confirm {
        //color: #ffffff;
    }
    .van-nav-bar {
        //background-color: #161616;
    }
    .van-dialog__message {
        color: #02040A;
    }
}
